<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-brand">
		<div class="btn-group">
			<button type="button" class="btn btn-info" href="#" [routerLink]="['/lista-pizzas']">Lista de Pizzas</button>
	
			<button type="button" class="btn btn-success" href="#" [routerLink]="['/nova-pizza']">Inserir Nova Pizza</button>
	
	
			<button type="button" class="btn btn-info" href="#" [routerLink]="['/lista-bebidas']">Lista de Bebidas</button>
	
			<button type="button" class="btn btn-success" href="#" [routerLink]="['/nova-bebida']">Inserir Nova Bebida</button>


			<button type="button" class="btn btn-info" href="#" [routerLink]="['/lista-pedidos']">Lista de Pedidos</button>

			<button type="button" class="btn btn-success" href="#" [routerLink]="['/novo-pedido']">Inserir Novo Pedido</button>
			

			<button type="button" class="btn btn-danger" href="#" [routerLink]="['/']">Sair</button>
		</div>
	</nav>
</div>

<div class="container">
	<router-outlet></router-outlet>
</div>

