<form (ngSubmit)="salvar()">

	<div class="form-group">
		<label>Pizzas</label>
		<select class="form-control" [(ngModel)]="pedido.pizza" name="pedido.pizza">
			<option *ngFor="let pizza of pizzas" [ngValue]="pizza">{{ pizza.Pizza }}</option>
		</select>
	</div>

	<div class="form-group">
		<label>Bebidas</label>
		<select class="form-control" [(ngModel)]="pedido.bebida" name="pedido.bebida">
			<option *ngFor="let bebida of bebidas" [ngValue]="bebida">{{ bebida.Bebida }}</option>
		</select>
	</div>

	<button class="btn btn-primary" (click)="adicionar()" type="button">Adicionar</button>
	<button class="btn btn-primary" type="submit">Salvar</button>

</form>



<table class="table table-striped">
	<thead>
		<tr>
			<th>Pizzas</th>
			<th>Bebidas</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let pedido of listaPedidos">
			<td>{{ pedido.pizza.Pizza }}</td>
			<td>{{ pedido.bebida.Bebida }}</td>
			<td>{{ pedido.total }}</td>
		</tr>
	</tbody>
</table>

<span>Valor Total = {{ valorTotal }}</span>




<!--



<div class="btn-group">
	<button type="button" class="btn btn-info">Pizza</button>
	<button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="sr-only">Toggle Dropdown</span>
	</button>
	<div class="dropdown-menu">
		<a class="dropdown-item" href="#">{{ pizza.Pizza }}</a>
	</div>
</div>



-->