<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Total</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pedido of lista">
      <td>{{ pedido.id }}</td>
      <td>{{ pedido.Total }}</td>
      <td><button class="btn btn-danger" (click)="remover(pedido.id)">Excluir</button></td>
    </tr>
  </tbody>
</table>
